<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.mapper.CouponTempleteMapper">

    <resultMap id="BaseResultMap" type="com.zw.common.domain.CouponTemplete">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="couponNameRemark" column="coupon_name_remark" jdbcType="VARCHAR"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="count" column="count" jdbcType="INTEGER"/>
            <result property="leadCount" column="lead_count" jdbcType="INTEGER"/>
            <result property="usedCount" column="used_count" jdbcType="INTEGER"/>
            <result property="goodsType" column="goods_type" jdbcType="INTEGER"/>
            <result property="productIds" column="product_ids" jdbcType="VARCHAR"/>
            <result property="hasUseLimit" column="has_use_limit" jdbcType="INTEGER"/>
            <result property="atLeast" column="at_least" jdbcType="DECIMAL"/>
            <result property="money" column="money" jdbcType="DECIMAL"/>
            <result property="discount" column="discount" jdbcType="DECIMAL"/>
            <result property="discountLimit" column="discount_limit" jdbcType="DECIMAL"/>
            <result property="minMoney" column="min_money" jdbcType="DECIMAL"/>
            <result property="maxMoney" column="max_money" jdbcType="DECIMAL"/>
            <result property="validityType" column="validity_type" jdbcType="INTEGER"/>
            <result property="startUseTime" column="start_use_time" jdbcType="TIMESTAMP"/>
            <result property="endUseTime" column="end_use_time" jdbcType="TIMESTAMP"/>
            <result property="fixedTerm" column="fixed_term" jdbcType="INTEGER"/>
            <result property="whetherLimitless" column="whether_limitless" jdbcType="INTEGER"/>
            <result property="maxFetch" column="max_fetch" jdbcType="INTEGER"/>
            <result property="whetherForbidPreference" column="whether_forbid_preference" jdbcType="INTEGER"/>
            <result property="whetherShow" column="whether_show" jdbcType="INTEGER"/>
            <result property="discountOrderMoney" column="discount_order_money" jdbcType="DECIMAL"/>
            <result property="whetherForbidden" column="whether_forbidden" jdbcType="INTEGER"/>
            <result property="orderGoodsNum" column="order_goods_num" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,name,
        coupon_name_remark,image,count,
        lead_count,used_count,goods_type,
        product_ids,has_use_limit,at_least,
        money,discount,discount_limit,
        min_money,max_money,validity_type,
        start_use_time,end_use_time,fixed_term,
        whether_limitless,max_fetch,whether_forbid_preference,
        whether_show,discount_order_money,whether_forbidden,
        order_goods_num,status,end_time
    </sql>
</mapper>
