<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.mapper.ProductsMapper">

    <resultMap id="BaseResultMap" type="com.zw.common.domain.Products">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="productsOrder" column="products_order" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="bannerList" column="banner_list"
                    jdbcType="JAVA_OBJECT"
                    javaType="com.alibaba.fastjson.JSONArray"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="detailList" column="detail_list"
                    jdbcType="JAVA_OBJECT"
                    javaType="com.alibaba.fastjson.JSONArray"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="productPoster" column="product_poster" jdbcType="VARCHAR"/>
            <result property="departureMeetingPoint" column="departure_meeting_point"
                    jdbcType="JAVA_OBJECT"
                    javaType="com.alibaba.fastjson.JSONArray"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="returnMeetingPoint" column="return_meeting_point"
                    jdbcType="JAVA_OBJECT"
                    javaType="com.alibaba.fastjson.JSONArray"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
            <result property="minAge" column="min_age" jdbcType="INTEGER"/>
            <result property="maxAge" column="max_age" jdbcType="INTEGER"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="isActivate" column="is_activate" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,products_order,name,category_id,
        price,banner_list,detail_list,
        description,product_poster,
        departure_meeting_point,return_meeting_point,
        min_age,max_age,location,
        is_activate
    </sql>

    <select id="selectAllByCategoryId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_products
        where
        category_id = #{categoryId,jdbcType=NUMERIC}
    </select>
    <select id="selectAllAndOrderByProductsOrder" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_products
        order by products_order
    </select>


</mapper>
